.block-5 {
	margin-top: 120px;
}

.block-5__title {
	margin-bottom: 40px;
}

.block-5__cards {
	display: flex;
	justify-content: space-between;
}

.block-5__card {
	width: calc(33.333% - 20px);
	align-items: center;
	display: flex;
	flex-direction: column;

	padding: 35px;

	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12);
	border-radius: 30px;
}

.block-5__card-text {
	margin: 0;
}

.block-5__card-title {
	width: 100%;
	margin-top: 9px;
	margin-bottom: 13px;
	text-align: left;
}

.block-5__card-image-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	position: relative;
}

.block-5__card-image-wrapper::before {
	content: "";
	display: block;
	padding-top: 58%;
	width: 100%;
}

.block-5__card-image {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
}

@media (max-width: 992px) {
	.block-5 {
		margin-top: 80px;
	}
}

@media (max-width: 989px) {
	.block-5__cards {
		flex-wrap: wrap;
		justify-content: center;
	}

	.block-5__card {
		width: 60%;
	}

	.block-5__card:not(:first-child) {
		margin-top: 30px;
	}
}

@media (max-width: 768px) {
	.block-5__card {
		width: 80%;
	}
}
@media (max-width: 568px) {
	.block-5-text p {
		text-align: left;
		width: 100%;
	}
}

@media (max-width: 479px) {

	.block-5__card {
		width: 100%;
		padding: 20px;
	}
}
