.block-11 {
    margin-top: 120px;
}

.block-11__row {
    align-items: flex-start;
}

.block-11 p {
    margin-top: 0;
    margin-bottom: 0;
}

.block-11 .dark-primery {
    margin-top: 40px;
    font-weight: 500;
}

.block-11 .lapki {
    width: 100%;
}

.block-11 .video video::-webkit-media-controls {
    opacity: 0.01;
}

.block-11 .video video::-webkit-media-controls:hover {
    opacity: 1;
}

.block-11__video-wrapper {
    display: flex;
    justify-content: center;
}

.block-11__text-inner {
    position: relative;
}

.block-11__text-inner::before,
.block-11__text-inner::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 8px;
    height: 8px;
    background-image: url(../../assets/img/lapki-black.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.block-11__text-inner::before {
    position: absolute;
    top: -4px;
    left: -12px;
}

@media (max-width: 990px) {
    .block-11__video-wrapper {
        order: -1;
        margin-bottom: 30px;
    }

    .block-11__lapki-wrapper {
        display: none;
    }

    .block-11__text-wrapper {
        max-width: 100% !important;
        flex: none !important;
    }
}

@media (max-width: 812px) {
    .block-11 {
        margin-top: 80px;
    }
}

@media (max-width: 575px) {
    .block-11__text-inner::before {
        top: -7px;
        left: -7px;
    }

    .block-11__name, .block-11__prof {
        text-align: center;
    }
}

@media (max-width: 540px) {
    .block-11 {
        margin-top: 40px;
    }

    .block-11 .lapki {
        width: 30px;
    }
}
