.title-video-section {
    margin-top: 120px;
    margin-bottom: 55px;
}

.video-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

.video-section .section-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.section-1 .slick-prev,
.section-1 .slick-next {
    -webkit-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
}

.section-1 .slick-prev {
    left: -45px;
}

.section-1 .slick-next {
    right: -45px;
}

.section-1 .slick-slider .slick-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
    z-index: 10;
}

.slick-slider, .slick-slider * {
    outline: none;
}

.slick-slider .slick-arrow::before {
    color: var(--primary);
    font-size: 30px;
}

.section-1 .slick-slider .slick-dots li button:before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 10px;
}

.section-1 .slick-slider .slick-dots li.slick-active button:before {
    color: var(--primary);
}

.section-1 .slick-slider .slick-dots li button:hover {
    color: var(--primary);
}

.video {
    max-width: 580px;
    position: relative;
    outline: none;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
}

.video::before, .video::after {
    position: absolute;
    display: block;
    pointer-events: none;
}

.video::before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.4;
}

.video::after {
    content: url(../../assets/img/play.svg);
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video.play::before, .video.play::after {
    display: none;
}

.video video {
    display: block;
    width: 100%;
    max-height: 318px;
    outline: none;
}

.video video::-webkit-media-controls {
    opacity: 0.01;
}

.video video::-webkit-media-controls:hover {
    opacity: 1;
}

.slick-initialized {
    width: 100%;
}

.active {
    opacity: 1;
}

.section-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.section-2 .text {
    margin-left: 30px;
    width: 375px;
    color: #000;
}

.section-2 .text p {
    margin-top: 35px;
}

@media (max-width: 1024px) {
    .section-1 .slick-slider .slick-arrow {
        width: 35px;
        height: 35px;
    }

    .slick-slider .slick-arrow::before {
        font-size: 23px;
    }

    .section-1 .slick-prev {
        left: -30px;
    }

    .section-1 .slick-next {
        right: -30px;
    }

    .title-video-section h2 {
        margin-top: 80px;
    }

    .video-section .section-1 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .video video {
        max-height: 305px;
    }

    .video-section .section-2 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .text {
        margin-left: 0px;
        width: 80%;
        color: #000;
    }

    .section-2 .text {
        margin-left: 0;
    }
}

@media (max-width: 992px) {
    .section-1 .slick-prev {
        left: -20px;
    }
    .section-1 .slick-next {
        right: -20px;
    }

    .title-video-section {
        margin-top: 60px;
        margin-bottom: 0px;
    }
}

@media (max-width: 990px) {

    .video-section__wrapper {
        margin-top: 10px;
    }
}   

@media (max-width: 768px) {
    .slick-arrow {
        display: none !important;
    }

    .video video {
        max-height: 270px;
    }

    .video-section__wrapper {
        max-width: 100% !important;
        flex: none !important;
    }
}

@media (max-width: 425px) {
    .section-1 .slick-prev {
        left: 0px;
    }

    .section-1 .slick-next {
        right: 0px;
    }

    .video-section .section-1 {
        margin-left: 0;
        max-width: 100%;
    }
}

@media (max-width: 375px) {
    .text {
        width: 82%;
    }
}
